@use 'typo';
@use '../abstracts/variables';

body{
  font-family: typo.$ff-primary;
  background-color: variables.$clr-bg;
  color: variables.$clr-font;
}

hr {
  height: 0;
  border-width: 0;
  border-top-width: 2px;
  border-color: variables.$clr-bg;


}
