@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=M+PLUS+Rounded+1c:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

$ff-primary: 'Inter', sans-serif;
$ff-heading-alt: 'Ubuntu', sans-serif;
$ff-heading: 'M PLUS Rounded 1c', Verdana, sans-serif;



$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 600;


$fs-300: 0.875rem;
$fs-400: 1rem;
$fs-500: 1.125rem;
$fs-550: 1.25rem;
$fs-600: 1.75rem;
$fs-700: 2.25rem;

$fs-primary-heading: $fs-700;
$fs-secondary-heading: $fs-600;
$fs-third-heading: $fs-550;
$fs-body: $fs-400;