$clr-accent-500: hsl(162, 31%, 19%);
$clr-accent-400: rgb(55, 87, 57);
$clr-accent-300: hsl(112, 58%, 80%);
$clr-accent-200: hsl(112, 100%, 90%);
$clr-accent-100: hsl(112, 20%, 90%);

$clr-header-100: #F0FFEE;
$clr-header-200: #D2FFCB;


$clr-black: #000;

$clr-primary-500: #ED2C27;
$clr-primary-400: hsl(33, 100%, 96%);

$clr-gr-green: linear-gradient(to right, #7FCA21,  #105200);

$global-max-width: 48rem;
$global-padding: 1rem;

$img-border-radius: 1.25rem;
$img-border: 1px solid rgb(203 213 225 );