

$clr-header-100: #F0FFEE;
$clr-header-200: #D2FFCB;


$clr-black: #000;

$clr-primary-500: #ED2C27;
$clr-primary-400: hsl(33, 100%, 96%);

$clr-gr-green: linear-gradient(to right, #7FCA21,  #105200);

$global-max-width: 48rem;
$global-padding: 1rem;

$img-border-radius: 1.25rem;
$img-border: 1px solid rgb(203 213 225 );


$clr-bg: rgb(255, 250, 254);
$clr-bg-navigation: rgb(255, 250, 254, 0.5);
$clr-accent-200: hsl(325, 30%, 90%);
$clr-accent-300: hsl(333, 13%, 29%);
$clr-accent-400: hsl(325, 72%, 50%);
$clr-accent-500: hsl(325, 27%, 40%);
$clr-complimentary-400: #5FBAB0;
$clr-complimentary-300: #C2FCF4;
$clr-complimentary-500: hsl(172, 27%, 40%);

$clr-font: #242424;