@use '../base/typo';

.btn {
  font-family: typo.$ff-heading;
  padding: 0.375em 1.875em;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  font-weight: typo.$fw-medium;


  //&:hover, &:focus-visible{
  //  background-color: #642321;
  //}


}

.btn__active{
  background-color: #9d3330;
}