@use "../abstracts/variables";


.search-bar {
  $border-active: 2px solid variables.$clr-accent-400;
  $border: 2px solid variables.$clr-accent-200;
  display: flex;
  border: $border;
  border-radius: 8px;

  &:focus-within {
    border: $border-active;
  }

  input {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border-radius: 8px 0 0 8px;
    border: none;
    //border-top: $border;
    //border-bottom: $border;
    //border-left: $border;
    //border-right: $border;


    &:focus {
      outline: none;

    }
  }

  button {
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: variables.$clr-complimentary-300;

    &:focus, &:hover {
      background-color: variables.$clr-complimentary-400;
      color: variables.$clr-bg;


    }

  }
}