@use "../base/typo";
@use "../abstracts/variables";


.weather__forecast-list{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);


  li{
    justify-self: stretch;
    background-color: variables.$clr-accent-200;
    border-radius: .75rem;
    padding: 0.5rem;



    display: grid;
    gap: 1rem;
    justify-items: center;
    text-align: center;
    color: variables.$clr-font;
    img{
      margin: -1rem 0;
    }
  }

  @media (min-width: 40em){
    &{
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }
  }
}