@use "../base/typo";
@use "../abstracts/variables";

.primary-header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(67, 131, 133, 0.63);
  //background-color: coral;
  backdrop-filter: blur(10px) saturate(160%) contrast(100%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(100%);

}

.nav-wrapper {

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0;
  //background-color: cornflowerblue;

}

.navigation-top {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .source-about{
    justify-content: flex-end;
  }
  .weather-navigation{
    justify-content: center;
  }

  & > div {

    display: flex;
    gap: 1.5rem;
    //justify-content: flex-end;

  }

  & > *{
    flex-basis: 100%;
    align-self: center;
  }
}

.navigation-bottom {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.logo{
  font-family: typo.$ff-heading;
}
